---
 const personalImageAlt = "Oscar Cardona"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-semibold [&>p>strong]:font-semibold text-pretty order-2 md:order-1 text-justify"
  >
    <p>
        ¡Hola! Soy Oscar Cardona, un desarrollador de videojuegos Junior en Unity con un fuerte interés por generar ambientes interactivos en 2D y 3D,
        ayudo a crear experiencias de juego inmersivas y memorables en Unity <strong
        >especializándome en Game Mechanics y Game Scripting</strong
      >.
    </p>

    <p>
        Participo activamente en <strong>GameJams</strong>, donde busco impulsar mis habilidades y adquirir nuevos conocimientos. 
        Estos eventos me han permitido colaborar con otros desarrolladores apasionados y enfrentar desafíos creativos que enriquecen mi experiencia profesional
    </p>

    <p>
        Lo que más me gusta de lo que hago es la posibilidad de crear universos que los jugadores disfrutan explorar. 
        Siempre estoy en busca de <strong>nuevas oportunidades</strong> para aprender y crecer en la industria de los <strong>videojuegos.</strong>
    </p>
  </div>

  <img width="200" height="200" src="/render_me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>